$content-background-color: #edece4;

@media print {
  .nav-div, #why-div, #where-div {
    display: none;
  }
}

body {
  background-image: url("images/cones copy.jpg");
  background-size: cover;
  font-family: 'Libre Baskerville', serif;
}

.nav {
  background-color: #f5f2e1;
  opacity: 0.8;
  a {
    color: #e39ae0;
  }
}

.jumbotron {
  opacity: 0.7;
  text-align: center;
}

.container {
  background-color: $content-background-color;
  opacity: 0.9;
  padding: 0px;

  div {
    align-items: center;
  }

  h1 {
    margin: 0;
    letter-spacing: 4px;
  }

  ul {
    margin: 0;
    text-align: right;
  }

  .row {
    padding: 20px;
  }
}

#what-div {
  opacity: 1;
  text-align: center;
}

%footer-boxes {
  border: 1px solid #f5f2e1;
  padding: 50px;
  text-align: center;
  a {
    color: black;
  }
}

#footer .col:first-child {
  @extend %footer-boxes;
  font-size: 70px;
  letter-spacing: 20px;
  a:hover {
    color: #a8edb0;
  }
}

#footer .col:nth-child(2) {
  @extend %footer-boxes;
  font-size: 60px;
  letter-spacing: 15px;
  a:hover {
    color: #abd5ed;
  }
}

#footer .col:last-child {
  @extend %footer-boxes;
  font-size: 80px;
  letter-spacing: 20px;
  a:hover {
    color: #fa8cb1;
  }
}
